
@font-face {
    font-family: "Fx_LED";
    src: url("fonts/Fx_LED.TTF");
}

@font-face {
    font-family: "Hack";
    src: url("fonts/Hack-Bold.ttf");
}

.digital-clock {
    width:70%;
    background-color: rgba(0, 0, 0, 0.411);
    color: white;
    display: flex;
    align-items: center;
    border-radius: 2rem;
    user-select: none;
    border-width: 9px;
    padding: 30px;
    margin-left: 100px;
    border: 5px solid #2d2d2d;
}

.week {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3rem;
    color: #2d2d2d;
    font-weight: bold;
    font-family: "Hack";
    font-size: 2rem;
    text-align: center;
    margin-right: -3rem;
    padding: 0.5rem;
    margin-left: 6rem;
}

.week .active {
    color: white;
}

.time {
    font-family: "Fx_LED";
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13rem;
    font-weight: bold;
    color: #2d2d2d;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

.hour, .min, .dot {
    font-size: 13rem;
}

.dot {
    transition: opacity 0.5s ease-in-out;
}

.invisible {
    opacity: 0;
}
